$mainText: "SF Pro Text", sans-serif;
$titleText: "Inter", sans-serif;
$whiteColor: #ffffff;
$blueColor: #2d66ee;
$gray25: #fcfcfd;
$gray100: #f2f4f7;
$gray300: #d0d5dd;
$gray400: #98a2b3;
$gray500: #667085;
$gray600: #475467;
$gray700: #344054;
$gray800: #1d2939;
$gray900: #101828;
